html {
    margin:0;
    padding:0;
    width:100%;
    background-color:#cccccc;
    background-image:url(../images/interface/pattern1.jpg);

}

body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Jost', sans-serif;
    width:100%;
    max-width:1100px;
    margin:auto;
    background-color:#dddddd;
    height:100%;
    min-height:100vh;
}

.topper {
    position: relative;
    height:180px;
    overflow: hidden;
    border-bottom:1px solid gray;
}

.topper a {
    text-decoration: none;
}

.topper h1 {
    color:#666666;
    text-transform: uppercase;
    padding:0;
    margin:0;
    margin-bottom:1em;
    padding-left:4%;
    padding-top:34px;
    font-size:34px;
    user-select: none;
    cursor: pointer;
    width:200px;
    line-height: 1.25em;
    height:180px;
    position: relative;
    top:0;
    left:0;
    box-sizing: border-box;
    overflow: hidden;
}

.topper h1:hover {
    background-color:#bbbbbb;

}

.burger {
    position: absolute;
    top:0;
    right:0;
    display:inline-block;
    width:200px;
    height:180px;
    text-align: center;
    padding-top:60px;
    box-sizing: border-box;
    overflow: hidden;
}
.burger img {
    width:60px;
  
}

.burger:hover {
    background-color:#bbbbbb;
}

.inputs label {
    display:block;
    padding-right:6px;
    padding-bottom:0;
    text-transform: uppercase;
    vertical-align: top;
    font-size:16px;
    color:#666666;
    user-select: none;
}

.inputs input {
    box-sizing:border-box;
    border:none;
    width:96%;
    font-size:20px;
    padding-left:8px;
    padding-top:8px;
    padding-right:8px;
    outline:none;
    font-family: 'Jost', sans-serif;
    background-color:rgba(255,255,255,.5);
    max-width:600px;
}

.inputs input.error {
    border:1px solid rgb(94, 150, 223);
}
.inputs input:focus, div.inputs input:hover, div.inputs input:active {
    outline:none;
    background-color:rgba(255,255,255,1);
}



.inputs textarea {
    box-sizing:border-box;
    border:none;
    width:96%;
    padding:8px;
    font-size:20px;
    font-family: 'Jost', sans-serif;
    outline:none;
    background-color:rgba(255,255,255,.5);
    max-width:600px;
}

.inputs textarea.error {
    border:1px solid rgb(94, 150, 223);
}

.inputs textarea:focus, .inputs textarea:hover, .inputs textarea:active {
    outline:none;
    background-color:rgba(255,255,255,1);
}



.form {
    background-color:#dddddd;
    padding:4%;
    box-sizing: border-box;
    padding-bottom:50px;
}

.form h1 {
    color:rgb(98, 98, 109);
    text-transform: uppercase;
    padding:0;
    margin:0;
    margin-bottom:1em;
    font-size:24px;
}

#human_test {
    opacity:0;
    width:100px;
    display:block;
    height:1px;
}

#send {
    text-transform: uppercase;
    background-color:rgb(182, 214, 255);
    margin-bottom:40px;
    padding:12px;
    border-radius:4px;
    opacity:1;
    cursor: pointer;
    user-select: none;
}

#send:hover {
    background-color:rgb(140, 190, 255);
    opacity:1;
}

p.notify {
    font-family: 'Caveat', cursive;
    font-size:27px;
    padding-top:0;
    line-height: 1em;
    margin:0;
    margin-bottom:18px;
    color:#666666;
    color:rgb(94, 150, 223);
}

.thankyou {
    background-color:rgb(168, 255, 168);
    padding-top:50px;
    padding-bottom:30px;
    padding-left:4%;
    padding-right:4%;
    color:green;
    font-weight: 400;
    line-height:2em;
    font-size:22px;
}

.noWrapper {
    white-space: nowrap;
}

.carouselContainer {
    width:100%;
    background-color:black;
    height:500px;
    box-sizing: border-box;
    border:2px solid red;
    overflow: hidden;
}
.carousel {
    width:100%;
    background-color:black;
    height:500px;   
    box-sizing: border-box;
    position: relative;
    left:-50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

.slide {
    width:900px;
    height:500px;
    box-sizing: border-box;
    margin-right:20px;
    user-select: none;
    position: absolute;

}

.carousel::-webkit-scrollbar {    display: none;}

.slide1 {
    background-color:blue;
    left:0px;
}
.slide2 {
    background-color:yellow;
    left:900px;
}
.slide3 {
    background-color:red;
    left:1800px;
}

.slide img {
    height:90%;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
